

mixin nav-link(url, className, title, icon)
    a.navigation-link(href=url class=className target='_blank')
        i.navigation-icon.icon-fw.icon-2x(class=icon)
        span.navigation-title= title