
a {
    transition: color $transition-speed;
    color: $color-grey;

    &:hover {
        color: $color-highlight;
    }

    &:focus,
    &:visited,
    &:hover,
    &:active {
        text-decoration: none;
        color: $color-grey;
    }
}

a,
button {
    outline: none;

    &:focus,
    &:visited,
    &:hover,
    &:active {
        outline: none;
    }
}
