
a {
    transition: color $transition-speed;
    color: $color-grey;
    outline: none !important;

    &:focus,
    &:visited,
    &:hover,
    &:active {
        text-decoration: none;
    }

    &:hover {
        color: $color-highlight;
    }
}