

.content-column {

    .post {
        $margin: 5px;
        $border-radius: 3px;
        margin-bottom: 80px;

        h1,
        h2,
        h3 {
            margin-top: 0;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 20px;
        }

        .post-content {
            .photo-wrapper,
            .video-wrapper {
                border-radius: $border-radius;
                overflow: hidden;

                .media-container {
                    width: 100%;
                    position: relative;
                    padding-bottom: 56.25%;
                    height: 0;

                    .photo-inner {
                        @include cover-absolute;
                        overflow: hidden;
                    }
                }
            }

            .photo-wrapper {
                .photo-inner {
                    text-align: center;

                    img {
                        height: 100%;
                        margin: 0 auto;
                    }
                }

                .photoset {
                    display: flex;
                    align-items: stretch;

                    .photo {
                        min-width: 0;
                        overflow: hidden;
                        height: 100%;
                        position: relative;
                        max-width: 60%;
                        width: auto;
                        margin-left: $margin;
                        flex: 1 1 10px;
                        transition: all .5s;

                        img {
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 50%;
                            transform: translateX(-50%);
                        }

                        &.open {
                            margin-right: $margin;
                            margin-left: ($margin * 2);
                        }

                        &:first-child,
                        &.open:first-child {
                            margin-left: 0;
                        }

                        &:last-child,
                        &.open:last-child {
                            margin-right: 0;
                        }
                    }
                }

                .single-photo {
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }

            .instagram-iframe-wrapper {
                overflow: hidden;
                width: 100%;
                position: relative;
                padding-bottom: 112%;
                height: 0;

                .instagram-iframe {
                    @include cover-absolute;
                    overflow: hidden;
                }
            }
        }

        .post-caption {
            margin-top: 30px;
            position: relative;
        }

        .post-footer {
            border-bottom: 1px solid $color-white-shadow;
            padding-bottom: 10px;
            padding-top: 25px;

            .footer-button {
                $height: 16px;

                height: $height;
                line-height: $height;
                margin-left: 5px;
                display: inline-block;
                vertical-align: middle;

                a i {
                    font-size: $height;
                }

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        .post-tags {
            margin-top: 5px;

            .tag {
                margin-right: $padding-base-horizontal;
                display: inline-block;
                white-space: nowrap;
                color: $color-grey;
            }
        }
    }
}

.error-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $color-grey-dark;

    .error {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: bold;

        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        color: $color-black;

        &:hover {
            color: $color-highlight;
        }
    }
}
