
body {
    width: 100%;
    text-align: center;
}

.global-wrapper {
    width: 100%;
    max-width: $global-max-width;
    margin: 0 auto;
    text-align: left;
    position: relative;

    .sidebar-column,
    .content-column {
        padding: $column-padding;
    }

    .sidebar-column {
        width: $sidebar-width;
    }

    .content-column {
        position: absolute;
        top: 0;
        right: 0;
        left: ($sidebar-width + $content-gutter);
        overflow-x: hidden;
    }
}
