
@keyframes loading {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    33% {
        opacity: 1;
        transform: translateX(0);
    }
    66% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100px);
    }
}

.loader {
    width: 100%;
    height: 100px;
    position: relative;

    .loader-inner {
        position: absolute;
        width: 100%;
        padding: 0 10%;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;

        .loader-disc {
            $size: 12px;

            width: $size;
            height: $size;
            border-radius: 100%;
            opacity: 0;
            display: inline-block;
            background-color: $color-grey;
            margin: 0 3px;

            $count: 6;
            $duration: 3s;
            $delay-step: .1s;
            $max-delay: ($count - 1) * $delay-step;

            @for $i from 1 through $count {
                &:nth-child(#{$i}) {
                    animation:
                        loading
                        $duration
                        ($max-delay - (($i - 1) * $delay-step))
                        infinite
                        ease-in-out;
                }
            }
        }
    }
}
