

.navbar {
    text-align: center;

    .logo-wrapper,
    .navigation {
        margin-bottom: 30px;
    }

    .logo-wrapper {
        text-align: center;

        a {
            display: inline-block;
            width: $logo-width;
        }
    }

    .navigation {
        text-align: center;

        .navigation-inner {
            display: inline-block;
        }

        .navigation-link {
            margin-bottom: 12px;
            display: block;
            color: $color-grey-dark;
            transition: all $transition-speed;
            text-align: left;

            .navigation-icon {
                vertical-align: middle;
                margin-right: 15px;
            }

            &:hover {
                color: $color-black;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &.sticky {
        position: fixed;
        top: -30%;
        opacity: 0;
        transition: none;

        &.animated {
            opacity: 1;
            transition: all .5s;
            top: 20px;

            &.fade-out {
                transition: all .15s;
                opacity: 0;
                top: 30%;
            }
        }
    }

    @media all and (max-width: $responsive-breakpoint) {
        margin-bottom: 0;

        .logo-wrapper {
            a {
                width: auto;
                height: $logo-medium-height;

                img {
                    width: auto;
                    max-width: initial;
                    height: 100%;
                }
            }
        }

        .navigation {
            margin-bottom: 0;

            .navigation-link {
                display: inline-block;
                margin: 0 8px 10px;

                .navigation-icon {
                    margin-right: 0;
                }

                .navigation-title {
                    display: none;
                }
            }
        }

        &.sticky {
            position: static;
            opacity: 1;
            width: auto !important;
        }

        + .placeholder {
            display: none !important;
        }

    }

    @media all and (max-width: $screen-xs-max) {
        .logo-wrapper {
            a {
                height: $logo-small-height;
            }
        }
    }
}