

.logo-wrapper {
    flex: 0 0 auto;
    text-align: center;
    margin-bottom: 30px;

    a {
        display: inline-block;
        width: $logo-width;
    }
}

.navbar {
    text-align: center;
    margin-bottom: 30px;

    .navigation {
        text-align: center;

        .navigation-inner {
            display: inline-block;
        }

        .navigation-link {
            margin-bottom: 12px;
            display: block;
            color: $color-grey-dark;
            transition: all $transition-speed;
            text-align: left;

            .navigation-icon {
                vertical-align: middle;
                margin-right: 15px;
            }

            &:hover {
                color: $color-black;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &.sticky {
        position: fixed;
        top: -30%;
        opacity: 0;
        transition: none;

        &.animated {
            opacity: 1;
            transition: all .5s;
            top: 20px;

            &.fade-out {
                transition: all .15s;
                opacity: 0;
                top: 30%;
            }
        }
    }

    // @media screen and (max-width: $screen-md-max) {
    //     bottom: initial;
    //     width: 100%;
    //     position: absolute;
    //     flex-direction: row;
    //     justify-content: center;
    //     align-items: center;

    //     .logo-wrapper {
    //         margin: 0 $padding-base-horizontal 0 0;
    //         height: $navbar-height;
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;

    //         a {
    //             $height: ($navbar-height * 0.8);

    //             height: $height;
    //             width: auto;

    //             img {
    //                 width: auto;
    //                 height: $height;
    //             }
    //         }
    //     }

    //     .navigation {
    //         min-height: $navbar-height;
    //         align-items: center;
    //         flex: 0 0 auto;
    //         flex-direction: row;

    //         flex-wrap: wrap;
    //         justify-content: center;
    //         max-width: 100%;


    //         .navigation-link {
    //             margin: 0 $padding-base-horizontal 0 0;

    //             &:last-child {
    //                 margin-right: 0;
    //             }
    //         }
    //     }
    // }

    // @media screen and (max-width: 480px) {
    //     height: ($navbar-height * 2);
    //     flex-wrap: wrap;
    //     align-content: space-around;

    //     .logo-wrapper {
    //         width: 100%;
    //         margin: 0;
    //         flex: 0 0 100%;
    //     }
    // }
}