
$color-white: #fff;
$color-white-shadow: darken($color-white, 9%);
$color-black: #1e1e20;
$color-grey: #cccccc;

$color-base: #374140;
$color-base-alt: #2a2c2b;
$color-highlight: #FFBA00;

$transition-speed: 0.2s;

$link-color: $color-highlight;

$font-family-sans-serif: 'Open Sans', sans-serif;

$column-gutter: 40px;