
$color-white: #fff;
$color-white-shadow: darken($color-white, 9%);
$color-black: #1e1e20;
$color-grey: #bbb;
$color-grey-dark: #777;
$color-highlight: #ffba00;

$transition-speed: .2s;

$font-family-sans-serif: 'Open Sans', sans-serif;

$column-gutter: 40px;

$font-size-base: 13px;

$sidebar-width: 250px;
$column-padding: 20px 10px;
$content-gutter: 30px;
$global-max-width: 960px;
$logo-width: 150px;
$logo-medium-height: 120px;
$logo-small-height: 90px;

$responsive-breakpoint: 768px;


// Plyr overrides.
$plyr-color-main: $color-highlight;