extends base.pug

include components/iframe

block content
    +iframe('https://www.tumblr.com/ask_form/sunforgecards.com', 'ask-form')

    p
        strong= 'Note: '
        = "I'm currently not taking requests or making commissions, and I'm also not selling cards."

    .qa
        header.qa-header
            h3.qa-title= 'Previous questions and answers'

        .qa-content
            each item in data
                +answer(item, moment)