extends base.pug

block content
    iframe.ask-form(
        frameborder='0'
        scrolling='no'
        src='https://www.tumblr.com/ask_form/sunforgecards.com')

    .qa
        header.qa-header
            h3.qa-title= 'Previous questions and answers'

        .qa-content
            each item in data
                +answer(item, moment)