extends base.pug

include components/article.pug

block content
    +post(data, moment)

    #disqus_thread

    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>